@import "../../styles/mixins";
@import "../../styles/respond-to";

.user-profile-page {
  @extend %page;

  display: flex;
  flex-direction: column;

  .main-part {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: black;
  }

  .user-photo {
    max-width: 100%;
    min-height: 30rem;
  }

  .details-container {
    flex: 1;
    @extend %page-container;
    text-align: start;

    .user-details-text {
      margin-bottom: 2.56rem;
    }
  }
  .match-action-btns {
    box-shadow: 0 0 3.2rem 0 rgba(0, 0, 0, 0.08); // different float shadow than other components. todo: consult with @amnon
  }
}
