@import './../../../views/styles/settings';
@import './../../../views/styles/mixins';
@import '../../styles/ui-kit';

.fill-profile {
  @extend %page;
  @extend %page-container;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: left;

  &.no-padding {
    padding: 0
  }

  .title {
    @extend %page-title;
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .input-group {
    @extend %input-group;

    .description {
      @extend %input-group-description;
    }
    .input {
      @extend %input-group-input;
    }
  }
  .terms {
    text-align: center;
    a {
      text-decoration: underline
    }
  }

  .stepper {
    font-size: 2rem;
    font-weight: bold;
  }
  .in-row-container {
    display: flex;
    justify-content: space-between;

    .item {
      flex: 1;
    }

    .item:first-child {
      text-align: left;
    }

    .item.middle {
      flex: 5;
      text-align: center;
    }

    .item:last-child {
      text-align: right;
    }

  }

  .textarea {
    width: 100%;
    font-size: 95%;
    box-sizing: border-box;
    resize: none;
    padding: 2rem;
    margin-bottom: 1rem;
    border: 0;

    &.tagline {
      min-height: 10rem;
    }
    &.bio {
      min-height: 24rem;
    }
  }

  .label-container {
    display: flex;
    justify-content: space-between;
    .age-container, .inboxSize-container {
      color: $gray-text-color
    }
  }

  .luna-slider {
    margin: 3rem 0;
  }

  .submit-btn {
    margin-top: 1.2rem;
    width: 100%;
    height: 5.2rem;
    background-image: linear-gradient(to right, $primary-gradient-start, $primary-gradient-end);
    background-color: $primary-gradient-start;
    border-radius: 0.4rem;
    border: solid 1px white;
    color: white;
    font-size: 1.6rem;
    line-height: 1.25;
    cursor: pointer;
    @include transition(all, .2s);

    &:hover {
      background-image: linear-gradient(to right, $primary-gradient-end, $primary-gradient-start);
      background-color: $primary-gradient-end;
    }

    &.disabled {
      background-image: linear-gradient(to right, $disabled-btn-color, $disabled-btn-color);
      background-color: $disabled-btn-color;
      color: $purple-text-color;
      cursor: auto;
      &:hover {
        background-image: linear-gradient(to right, $disabled-btn-color, $disabled-btn-color);
        background-color: $disabled-btn-color;
      }
    }
  }

  .errors {
    color: #eb1477;
    margin: 1.5em 0;
  }

  .avatar-upload {
    @extend %column-flex;
    align-items: center;
    margin: 1rem;
    border-radius: 1rem;

    .avatar-wrapper {
      margin-bottom: 0;
      border-radius: 50%;
      position: relative;
      display: flex;
      overflow: hidden;

      .loader-wrapper {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        .luna-loader {
          @extend %center-xy;
        }
      }
    }
  }

  .all-done {
    @extend %page;

    flex: 1;
    color: white;
    background-color: $primary-bg-color2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./../../../images/icon.svg');

    .msg {
      //font-family: 'Roboto';
      font-size: 2.5rem;
      font-weight: 500;
      letter-spacing: 0.1rem;

      &.line1 {
        margin-bottom: 4rem;
      }
      &.title {
        font-size: 4rem;
      }
    }
  }
  .red {
    margin-bottom: 1.2rem;
    color: red;
  }
}
