<tr>
    <td width="15" style="display:block;width:15px;">&nbsp;&nbsp;&nbsp;</td>

    <td style="">

        <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;">

            <tr>
                <td style="">

                    <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;">
                        <tr>
                            Hey {{ RECIPIENT_FIRST_NAME }},<br/><br/>

                            To complete your Luna registration, please click the link below
                        </tr>
                    </table>

                </td>
            </tr>
            <tr style="">
                <td height="14" style="line-height:14px;">&nbsp;</td>
            </tr>

        </table>
    </td>
    <td width="15" style="display:block;width:15px;">&nbsp;&nbsp;&nbsp;</td>
</tr>

<tr>
    <td width="15" style="display:block;width:15px;">&nbsp;&nbsp;&nbsp;</td>

    <td style="">

        <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;">

            <tr style="">
                <td height="2" style="line-height:2px;" colspan="3">&nbsp;</td>
            </tr>

            <tr>
                <td class="mb_blk" style="">

                    <a style="color:#3b5998;text-decoration:none;" href="{{ CONFIRM_URL }}">

                        <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;">

                            <tr>
                                <td style="border-collapse:collapse;border-radius:2px;text-align:center;display:block;border:solid 1px #5e328f;box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.1),0 1px 0 rgba(0, 0, 0, 0.1);background:#8045c7;padding:7px 16px 11px 16px;">
                                    <a href="{{ CONFIRM_URL }}"
                                       style="color:#3b5998;text-decoration:none;display:block;">
                                        <center>
                                            <font size="3">
                                                <span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;white-space:nowrap;font-weight:bold;vertical-align:middle;color:#ffffff;text-shadow:0 -1px 0 #172028;font-size:14px;line-height:14px;">
                                                    Confirm Your Account
                                                </span>
                                            </font>
                                        </center>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </a>
                </td>
                <td width="100%" class="mb_hide" style=""></td>
            </tr>
            <tr style="">
                <td height="32" style="line-height:32px;" colspan="3">&nbsp;</td>
            </tr>
        </table>
    </td>

    <td width="15" style="display:block;width:15px;">&nbsp;&nbsp;&nbsp;</td>
</tr>
